---
import Layout from '../../layouts/Layout.astro'
import type { Pokemon } from '../../types/API-pokemon'
import {type Pokedex, type Result} from '../../types/API-pokedex'

export async function getStaticPaths() {
  const res = await fetch(`https://pokeapi.co/api/v2/pokemon?limit=100000&offset=0`)
  const pokedex: Pokedex = await res.json()
  return pokedex.results.map((pokemon: Result) => ({
    params: {name: pokemon.name},
  }))
}

const {name} = (Astro.params)

const res = await fetch(`https://pokeapi.co/api/v2/pokemon/${name.name}`)
const pokemon: Pokemon = await res.json()

---

<Layout title={`${pokemon.name}`}
  <main>
    <h1>{pokemon.name}</h1>
  </main>
</Layout>
