---
import {type Types, type Result} from '../../types/API-types'
import {getAllTypes, getTypeData} from '../../lib/api'
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
  const pokemonsTypes: Types = await getAllTypes()
  return pokemonsTypes.results.map((Pokemontype: Result) => ({
    params: {type: Pokemontype.name},
  }))
}

const type = (Astro.params).type

if (type === undefined) { return Astro.redirect('/404')}
const typeData = await getTypeData(type)

---
<Layout title={`Pokemon Web Page | ${type[0].toUpperCase()}${type.slice(1)}`}>
  <h1>{type}</h1>
</Layout>