---
import Layout from '../layouts/Layout.astro'
import PokemonCard from '../components/PokemonCard.astro'
import { type Result } from '../types/API-pokedex'
import {getPokedexWithLimit} from '../lib/api'

let offset = 0

const Pokedex = await getPokedexWithLimit(offset)
---

<Layout title="Pokemon Web Page">
	<main class="py-1 px-2">
		<div class="grid grid-cols-2 gap-1">
			{	
				Pokedex.results.map((pokemon: Result) => (				
					<PokemonCard pokemonName={pokemon.name} />
				))
			}
		</div>
	</main>
</Layout>
