---
import Layout from '../layouts/Layout.astro'
import PokemonCard from '../components/PokemonCard.astro'
import {type Pokedex, type Result } from '../types/API-pokedex'

const offset = 0

const res = await fetch(`https://pokeapi.co/api/v2/pokemon?limit=50&offset=${offset}`)
const pokedex:Pokedex = await res.json()
---

<Layout title="Pokemon Web Page">
	<main class="flex gap-1 flex-wrap">
		{	
			pokedex.results.map((pokemon: Result) => (				
				<PokemonCard pokemonName={pokemon.name} />
			))
		}
	</main>
</Layout>