---
import Layout from '../layouts/Layout.astro'
import PokemonCard from '../components/PokemonCard.astro'
import {type Pokedex, type Result } from '../types/API-pokedex'
import Button from '../components/Button.astro'

let offset = 0

export function changeOffset (pageNumber: number) {
		const newOffset = (pageNumber - 1) * 50
		offset = newOffset
	}
	
const res = await fetch(`https://pokeapi.co/api/v2/pokemon?limit=50&offset=${offset}`)
const pokedex:Pokedex = await res.json()


const pages = Math.ceil(pokedex.count / 50)

const pageNumbers = Array.from({ length: pages }, (_, index) => index + 1)
---

<Layout title="Pokemon Web Page">
	<main class="py-1 px-2">
		<div class="grid grid-cols-5 gap-1">
			{	
				pokedex.results.map((pokemon: Result) => (				
					<PokemonCard pokemonName={pokemon.name} />
				))
			}
		</div>
		<div class="flex my-2 items-center gap-4">
			{
				pageNumbers.map((pageNumber: number) => (
					<Button pageNumber={pageNumber} />
				))
			}
		</div>
	</main>
</Layout>
