---
import { Image } from 'astro:assets';
import logo from '../assets/Pokémon.png'
---

<header class="bg-gray-800">
  <a href="/"><Image class={"w-36"} src={logo} alt={"Pokemon Logo"} /></a>
  
</header>