---
import {  } from 'astro/types'

interface Props {
  totalPokemons: number
}

const {totalPokemons} = Astro.props

const pages = Math.ceil(totalPokemons / 50)

const pageNumbers = Array.from({ length: pages }, (_, index) => index + 1);

---

<article class="flex gap-2">
  {
    pageNumbers.map(pageNumber => (
      <button class="border w-8 h-8 hover:bg-slate-400">{pageNumber}</button>
    ))
  }
</article>