---
import { changeOffset } from '../pages/index.astro'

interface Props {
  totalPokemons: number
}

const {totalPokemons} = Astro.props

const pages = Math.ceil(totalPokemons / 50)

const pageNumbers = Array.from({ length: pages }, (_, index) => index + 1);

function handleclick (page: number) {
  const newoffset = page * 50 - 1
  changeOffset(newoffset)
}

---

<article class="flex gap-2">
  {
    pageNumbers.map(pageNumber => (
      <button onclick={handleclick(pageNumber)}class="border w-8 h-8 hover:bg-slate-400">{pageNumber}</button>
    ))
  }
</article>
